h1 {
    text-align: center;
    color: red;
}

h2{
  font-family: fantasy;
}

.formfield{
    display: block;
    width: 40%;
    border-radius: 10px;
    border: 2px solid #6c00ff;
    padding: 2px 5px 2px 5px;
}

.formlabel{
    font-family: Arial, sans-serif;
    color: #3100ff;
}

#edyform{
    background-color: bisque;
    float: left;
    width: 50%;
    height: 400px;
    border: 15px #00FF00;
}

#g1form{
    background-color: aqua;
    float: right;
    width: 50%;
    height: 400px;
}